*{
margin: 0;
	

}

h1{
			color:white;
		    height: 100px;
			width: 880px;
			background-color:#E0457F;
			padding-top: 20px;
			padding-bottom: 10px;
			padding-left: 40px;
			margin: 0 auto;}
	section{
			background-color: #F6EFE3;
			color: #E0457F;
			width: 860px;
			height: 100px;
			padding: 30px;
			margin: 0px auto;
			overflow: auto;
		}
footer{
	background-color: #D67371;
	color: white;
	font-size: 12px;
}